@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>About</h3>

<p>Welcome to the wonderful world of gummy bears. Gummi Bear Kingdom is the world's leading expert in all things gummy bears. We offer a variety of products that will satisfy customers of all ages. </p>

