@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>About</h2>

<p>Welcome to the wonderful world of gummy bears. Gummi Bear Kingdom is the world's leading expert in all things gummy bears. We offer a variety of products that will satisfy customers of all ages. </p>

<p>Watch our company's music video on <a href="https://www.youtube.com/watch?v=o3v4lGkHacE">YouTube</a></p>