@*@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    <h2>Gummi Bear Kingdom</h2>

    <p>View our products at Gummi Bear Kingdom</p>

</body>
</html>

