.header {
    background-image: url("https://i.ytimg.com/vi/t_AYgBMBjO4/maxresdefault.jpg");
    height: 600px;
    width: 100%;
    background-position: center;
}

h1 {
    padding-top: 230px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 50px;
}

#subheading {
    width: 50%;
    text-align: center;
    color: white;
    margin-left: 25%;
}

#brandImage {
    height: 40px;
    width: auto;
    float: left;
}

.navbar {
    background:transparent;
    border: none;
}

.navLinks {
    text-align: center;
    color: white;
}

.box {
    height: 200px;
    width: 200px;
    margin-right: 20px;
}

.index-boxes {
    margin-left: 30%;
    margin-top: 50px;
}

.icon {
    height: 50px;
    padding-left: 30%;
}

.navbar-text a {
    color: white;
    font-size: 16px;
}

.header-nonindex {
    background-image: url("https://cdn.albanesecandy.com/candy-store/images/products/popup/12-flavor-gummi-bears_7.jpg");
    height: 600px;
    width: 100%;
    margin-top: -130px;
}

.about-content {
    width: 80%;
    margin-left: 10%;
}

h2 {
    text-align: center;
}

.product-image {
    height: 200px;
    width: auto;
}

.details-image {
    width: 80px;
}


